.list-heading {
	color: #333;
	margin-top: 3rem;
	font-size: 1.6rem;
}

.product_btn_group {
	display: flex;
	gap: 0.5rem;
}
.home_error_message {
	color: rgb(133, 13, 13);
}

.form_error {
	margin-right: 0px;
	background-color: red;
}
